<?xml version="1.0"?>

<!--
License: Apache 2.0. See LICENSE file in root directory.
Copyright(c) 2017 PAL Robotics, S.L. All Rights Reserved

This is the Gazebo URDF model for the Intel RealSense D435 camera
-->
  
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:macro name="camera_3d_zed_zed2_gazebo" params="robot_name tf_prefix output_sim topic_prefix suffix" >

    <xacro:if value="${output_sim}">

      <!-- Load parameters to model's main link-->
      <xacro:property name="deg_to_rad" value="0.01745329251994329577" />
      <gazebo reference="${tf_prefix}${suffix}_zed2_camera_center">

        <sensor name="${tf_prefix}${suffix}_left_camera_optical_frame" type="camera">
          <camera name="${robot_name}zed2_camera">
            <horizontal_fov>${120*deg_to_rad}</horizontal_fov>
            <image>
              <width>1920</width>
              <height>1080</height>
              <format>RGB_INT8</format>
            </image>
            <clip>
              <near>0.1</near>
              <far>100</far>
            </clip>
            <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.007</stddev>
            </noise>
          </camera>
          <always_on>1</always_on>
          <update_rate>30</update_rate>
          <visualize>1</visualize>
          <plugin name="${topic_prefix}" filename="libgazebo_ros_camera.so">
            <cameraName>${tf_prefix}${suffix}_zed2_camera/left</cameraName>
            <imageTopicName>image_rect_color</imageTopicName>
            <cameraInfoTopicName>camera_info</cameraInfoTopicName>
            <frameName>${tf_prefix}${suffix}_left_camera_optical_frame</frameName>
          </plugin>
        </sensor>
        <sensor name="${tf_prefix}${suffix}_right_camera_optical_frame" type="camera">
          <camera name="${robot_name}zed2_camera">
            <horizontal_fov>${120*deg_to_rad}</horizontal_fov>
            <image>
              <width>1920</width>
              <height>1080</height>
              <format>RGB_INT8</format>
            </image>
            <clip>
              <near>0.1</near>
              <far>100</far>
            </clip>
            <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.007</stddev>
            </noise>
          </camera>
          <always_on>1</always_on>
          <update_rate>30</update_rate>
          <visualize>1</visualize>
          <plugin name="${topic_prefix}" filename="libgazebo_ros_camera.so">
            <cameraName>${tf_prefix}${suffix}_zed2/right</cameraName>
            <imageTopicName>image_rect_color</imageTopicName>
            <cameraInfoTopicName>camera_info</cameraInfoTopicName>
            <frameName>${tf_prefix}${suffix}_right_camera_optical_frame</frameName>
          </plugin>
        </sensor>
        <sensor name="${tf_prefix}${suffix}_left_camera_optical_frame" type="depth">
          <camera name="${robot_name}zed2_camera">
            <horizontal_fov>${120*deg_to_rad}</horizontal_fov>
            <image>
              <width>1920</width>
              <height>1080</height>
            </image>
            <clip>
              <near>0.1</near>
              <far>100</far>
            </clip>
            <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.100</stddev>
            </noise>
          </camera>
          <always_on>1</always_on>
          <update_rate>30</update_rate>
          <visualize>0</visualize>
          <plugin name="${topic_prefix}" filename="libgazebo_ros_openni_kinect.so">
            <cameraName>${tf_prefix}${suffix}_zed2/depth</cameraName>
            <depthImageTopicName>depth_registered</depthImageTopicName>
            <depthImageInfoTopicName>camera_info</depthImageInfoTopicName>
            <frameName>${tf_prefix}${suffix}_left_camera_optical_frame</frameName>
          </plugin>
        </sensor>
        <sensor name="${tf_prefix}${suffix}_zed2_camera_center" type="depth">
          <camera name="${robot_name}zed2_camera">
            <horizontal_fov>${120*deg_to_rad}</horizontal_fov>
            <image>
              <width>1280</width>
              <height>720</height>
            </image>
            <clip>
              <near>0.1</near>
              <far>100</far>
            </clip>
            <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.100</stddev>
            </noise>
          </camera>
          <always_on>1</always_on>
          <update_rate>90</update_rate>
          <visualize>0</visualize>
          <plugin name="${topic_prefix}" filename="libgazebo_ros_openni_kinect.so">
            <cameraName>${tf_prefix}${suffix}_zed2/stereo</cameraName>
            <depthImageTopicName>image_rect_color</depthImageTopicName>
            <depthImageInfoTopicName>camera_info</depthImageInfoTopicName>
            <frameName>${tf_prefix}${suffix}_zed2_camera_center</frameName>
          </plugin>
        </sensor>
      </gazebo>

    </xacro:if>

  </xacro:macro>
</robot>